<h2>{{article.title}}</h2>
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}

<p>URL: <a href="{{article.url}}">{{article.url}}</a></p>
<p>Posted by: {{article.user.username}}</p>
<p>{{article.description}}</p>